body{
    width: 100%;
   
}
nav{
    background-color: gray;
    opacity: 0.6;
   
}

li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 30px;
    font-size:18px;
}
a{
    text-decoration: none;
    color: black;
}
.img-nav{
    width: 100px;
}
.li-about{
    margin-right: 400px;
}
.div2{
    padding: 40px;
    background-image: url(../imgs/background_div2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-left: 80px;
    width: 100%;
    
}
h1{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div-head{
    background-color: rgb(184, 180, 180,0.8);
    width: 500px;
    height: 200px;
    border: 2px solid black;
    margin-top: 100px;
  }
h2{
    color:white;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    width: 200px;
    height: 60px;
    margin-right: 200px;
    border: 1px solid black;
    font-size: 18px;
}
.div-sec2a,.div-sec2b{
    width: 30%;
    height: 3px;
    margin-top: 100px;
display: inline-block;
}
.div-sec2a{
    border-bottom: 3px rgb(88, 68, 216) solid;
    margin-right: 400px;
    margin-bottom: 20px;

}

.div-sec2,.div-sec3{
    padding: 100px;
    width: 100%;
    height: 200px;
    background-color: rgba(rgb(194, 181, 181), green, blue, 0.5) ;
}
.div-sec2b{
    
    margin-right: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
font-size: 40px;
}

.h2-sec2{
    color: rgb(8, 1, 1);
       font-family:Georgia, 'Times New Roman', Times, serif ;
font-size: 40px;
}
.div-sec3a,.div-sec3b{
      
float: left;
background-repeat: no-repeat;
background-size: cover;
padding: 30px;
}
.div-sec3a1{
    margin-top: 200px;
    text-align: center;
}
.h2-sec3a1,.h2-sec3b1{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight: lighter;
}
.b-sec3a1{
    margin-left: 50px;
}
.div-sec3a{
    width: 400px;
    height: 400px;
    background-image: url(../imgs/sec3a.jpg);
    margin-top: 00px;
    padding: 20px;
    text-align: left;
}
.div-sec3b{ width: 600px;
    height: 380px;
    background-image: url(../imgs/sec3b.jpg);
    margin-top: 00px;
    margin-left: 50px;
}
.h2-sec3b1{
    margin-top: 200px;
}
.b-sec3b1{
    margin-top: 0px;
}
.clear-fix{
    clear: both;
}
.div-sec4a{
    width: 700px;
    height: 380px;
    background-image: url(../imgs/Accessories.jpg);
    margin-left: 90px;
    margin-right: 20px;
}
.div-sec4b{
    width: 400px;
    height: 340px;
    background-image: url(../imgs/Shoes.jpg);
    padding: 20px;
    text-align: left;
   
}
.div-sec4a,.div-sec4b{
    float: left;
    margin-top: 30px;
}
.div-sec4{
    margin-top: 20px;
}
.h2-sec3b1,.b-sec3b1,.h2-sec3a1,.b-sec3a1{
    margin-left: 40px;
}
.h2-sec3a1{
    text-align: left;
}
.h2-sec5{
    text-align: center;
    color: black;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight: lighter;
}
.img-sec5a,.img-sec5b,.img-sec5c,.img-sec5d{
  display: block;
  margin-bottom: 12px;
}
.s-sec5a,.s-sec5b,.s-sec5c,.s-sec5d{
    display: block;
    margin-left: 80px;
}
.s2-sec5a,.s2-sec5b,.s2-sec5c,.s2-sec5d{
    display: block;
    margin-left: 225px;
    color: rgb(202, 198, 198);
}
.s3-sec5a,.s3-sec5b,.s3-sec5c,.s3-sec5d{
    display: block;
    margin-left: 255px;
}

.s4-sec5a,.s4-sec5b,.s4-sec5c,.s4-sec5d{
    display: block;
    margin-left: 240px;
} 
.div-sec5a,.div-sec5b,.div-sec5c,.div-sec5d{
    float: left;
    margin-right: 20px;
}
.div-sec5a{
    margin-left: 30px;
}
.img-sec5e,.s-sec5e{
    display: inline-block;
   
   
}
.s-sec5e{
    color: black;
    font-size: 20px;
}
.img-sec5e{
    width: 20px;
    margin-right: 20px;
}
.div-sec5e{
    text-align: center;
    margin-top: 130px;
}
.div-sec6{
    width: 100%;
    margin-top: 100px;
    border-top: 1px solid rgb(184, 180, 180,0.5);
    text-align: right;
    padding: 50px;
    
}
.li-sec6{
    display: block;
}
.div-sec6a,.div-sec6b{
    float: left;
}
.div-sec6a{
    margin-left: 400px;
}
.div-sec6a{
    margin-right: 200px;
}
.div-sec7{
    width: 140%;
   
    background-color:rgba(238, 238, 238, 0.705) ;
    margin-top: 200px;
    text-align: center;
    padding: 80px;
}
.s-sec7{
    margin:auto;
}
.aa,.bb{
    display: inline-block;
}
.aa{
    margin-right: 10px;
}
.li-sec6{
    display: block;
}
